
body {background-color: rgb(223, 198, 119);}

h1 {text-align: center;
font-weight: bold;color: #24045f;}
h2 {text-align: justify;
}
p {font-weight:bold;
    font-size: 16px;
    line-height: 1.15;
}
table {
    margin: auto;}
img {border-radius: 10px;
    box-shadow: 0 0 5px;text-align: center;}
h3 {text-align: center;}
p{
    text-align: center;
}
h2{
    text-align: center;color: #a12727;
}
a{
    color: #1e61a0;
}
img{
    text-align: center;
}
